



<div class="example-container">
  <mat-form-field hintLabel ="Max 15 characters">
    <input matInput #name placeholder="Nom" maxlength="15" [(ngModel)]="user.nom" required>
    <mat-hint align="end"> {{name.value?.length || 0}}/15</mat-hint>
  </mat-form-field>

<mat-form-field hintLabel="Max 15 characters">
  <input matInput #prenom placeholder="Prenom" maxlength="15" [(ngModel)]="user.prenom" required>
  <mat-hint align="end"> {{prenom.value?.length || 0}}/15</mat-hint>
</mat-form-field>

<mat-form-field hintLabel="Max 15 characters">
  <input matInput #username placeholder="UserName" maxlength="15" [(ngModel)]="user.username" required>
  <mat-hint align="end"> {{username.value?.length || 0}}/15</mat-hint>
</mat-form-field>

  <mat-form-field>
<input matInput placeholder="Enter your email" [formControl]="email" pattern="^[a-zA-Z0-9_.+-]+@soprahr+\.[a-zA-Z0-9_.+-]+$"
  [(ngModel)]="user.email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    <mat-error *ngIf="email.errors?.pattern">Invalid Emaill</mat-error>
  </mat-form-field>
<mat-form-field>
<input matInput #pwd maxLength="12" minLength="6" placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [formControl]="password"
  [(ngModel)]="user.password">
<mat-hint align="end"> {{pwd.value?.length || 0}}/12</mat-hint>
  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
<mat-error *ngIf="email.invalid">Invalid Password Min 6 char & max 12 char with  uppercase & lowercase</mat-error>

</mat-form-field>

<div class="button-row">
<div *ngIf="name.value?.length >0 && prenom.value?.length > 0 && username.value?.length > 0 && !email.invalid && !email.errors?.pattern &&   !password.invalid">
<button mat-stroked-button (click)="submit()" >Submit</button>
</div>

<div *ngIf="name.value?.length == 0 || prenom.value?.length == 0 || username.value?.length == 0  || email.invalid || email.errors?.pattern || password.invalid">
<button mat-stroked-button disabled>Submit</button>
</div>

</div>

  {{dataSource | json}}
<table mat-table [(dataSource)]="dataSource" class="mat-elevation-z8">


  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- nom Column -->
  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
  </ng-container>

  <!-- prenom Column -->
  <ng-container matColumnDef="prenom">
    <th mat-header-cell *matHeaderCellDef> Prenom </th>
    <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
  </ng-container>

  <!-- username Column -->
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>

  <!-- email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


