.main {
  height: 600px;
  background-color: #EEE;
  display: flex;
  flex-direction: row ;
  /*flex-direction: column;*/
  flex-wrap: wrap;

  justify-content: space-around;
  justify-items: center;

  align-items: center;
  align-content: stretch;
}
.img:first-child {
  order: 2;
}
.img:nth-child(2) {
  order: 1
}
