<p>
  flexbox works!
</p>

<div class="main">

  <img class="img" src="http://placehold.it/150x150" alt="">
  <img class="img" src="http://placehold.it/100x100" alt="">
  <img class="img" src="http://placehold.it/150x150" alt="">
  <img class="img" src="http://placehold.it/150x150" alt="">
  <img class="img" src="http://placehold.it/150x150" alt="">
  <img class="img" src="http://placehold.it/150x150" alt="">
  <img class="img" src="http://placehold.it/150x150" alt="">
  <img class="img" src="http://placehold.it/150x150" alt="">
  <img class="img" src="http://placehold.it/150x150" alt="">
  <img class="img" src="http://placehold.it/150x150" alt="">
  <img class="img" src="http://placehold.it/150x150" alt="">
  <img class="img" src="http://placehold.it/150x150" alt="">
  <img class="img" src="http://placehold.it/150x150" alt="">
  <img class="img" src="http://placehold.it/150x150" alt="">
  <img class="img" src="http://placehold.it/150x150" alt="">
  <img class="img" src="http://placehold.it/150x150" alt="">
</div>
